<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body class="two">
<div class="navigate">
    <button class="chiq">ChiQ</button>
    <button class="navigate-btn1">ACCESS</button>
    <button class="navigate-btn2">NEWS</button>
    <button class="navigate-btn3">DELIVERY</button>
    <button class="navigate-btn4">CONTACT</button>
    <button class="navigate-btn5">GREETING</button>
    <button class="navigate-btn6">COMPANY</button>
</div>
<div class="name">
    <h1>Japanese Restaurant</h1>
    <h1>ChiQ</h1>
</div>
</body>
</html>